.back-to-home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #c21760;
    color: #fff;
    width: 150px;
    padding: 10px;
    margin: 10px;
}
.back-to-home:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.08);
    border-radius: 10px;
}