.banner-container{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FF9900 99%);

}
.banner-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-quote h2{
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 20px;
}
.banner-quote h2 q:nth-child(odd){
    color: #ee436a;
    font-weight: bolder;
}
.banner-quote h2 q:nth-child(even){
    color: #a20808;
    font-weight: bolder;
}
.banner-quote-button{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    border-radius: 20px;
}
.banner-quote-button h6{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    font-weight: bold;
}

.banner-quote-button .order-now{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #ee436a;
    margin-right: 15px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
.banner-quote-button .order-now:hover{
    transition: all 0.5s ease-in-out;
    scale: 1.1;
    background-color: red;
    color: #FFFFFF;
}
.banner-quote-button .order-now .icon{
    margin-left: 5px;
    animation: move 5s infinite;
}

